
#leaguetoplist {
    .stats-table {
        tr {
            cursor: pointer;
            transition: height ease-in-out 0.5s; // meh

            td {
                vertical-align: top;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.08);
            }
        }
    }
}
