
#leaguetoplist {
    .stats-table {
        tr {
            cursor: pointer;
            transition: height ease-in-out 0.5s; // meh
            td {
                vertical-align: top;
                width: 25%;

                span {
                    font-size: 0.9em;
                    color: #6e6e6e;
                }
            }

            canvas {
                margin-top: -20px;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.08);
            }
        }
    }
}
