#leaguetoplist #leaguetoplist_info {
  background-color: rgba(0, 0, 0, 0.02); }
  #leaguetoplist #leaguetoplist_info div {
    margin: 2px 2px;
    margin-top: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    font-size: 12px; }
    #leaguetoplist #leaguetoplist_info div:last-child {
      border-bottom: none; }
  #leaguetoplist #leaguetoplist_info .leaguetoplist_name {
    margin-left: 20px; }

