#leaguetoplist .holder {
  margin: 50px auto;
  display: block;
  max-width: 1050px;
  padding: 0 10px; }
  #leaguetoplist .holder .info {
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.02);
    padding: 10px;
    padding-left: 20px; }
    #leaguetoplist .holder .info .topleague_player {
      margin: 2px 2px;
      margin-top: 2px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.11); }
      #leaguetoplist .holder .info .topleague_player:last-child {
        border-bottom: none; }

