#leaguetoplist .stats-table tr {
  cursor: pointer;
  transition: height ease-in-out 0.5s; }
  #leaguetoplist .stats-table tr td {
    vertical-align: top; }
  #leaguetoplist .stats-table tr:hover {
    background-color: rgba(0, 0, 0, 0.08); }

