#login, #register {
  font-family: Trebuchet MS;
  font-size: 16px; }
  #login h1, #register h1 {
    padding: 0 0 20px 0;
    color: rgba(0, 0, 0, 0.8); }
  #login span, #register span {
    font-family: Arial;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline; }
    #login span#reg, #register span#reg {
      color: rgba(186, 10, 10, 0.85); }
    #login span#log, #register span#log {
      color: #3492ef; }
  #login #login_password, #login #login_name, #login #login_btn, #register #login_password, #register #login_name, #register #login_btn {
    border: 1px solid rgba(141, 196, 250, 0.65); }
    #login #login_password:hover, #login #login_password:active, #login #login_name:hover, #login #login_name:active, #login #login_btn:hover, #login #login_btn:active, #register #login_password:hover, #register #login_password:active, #register #login_name:hover, #register #login_name:active, #register #login_btn:hover, #register #login_btn:active {
      border: 1px solid #66b3ff; }
  #login #register_password, #login #register_name, #login #register_email, #login #register_btn, #register #register_password, #register #register_name, #register #register_email, #register #register_btn {
    border: 1px solid rgba(224, 114, 114, 0.5); }
    #login #register_password:hover, #login #register_password:active, #login #register_name:hover, #login #register_name:active, #login #register_email:hover, #login #register_email:active, #login #register_btn:hover, #login #register_btn:active, #register #register_password:hover, #register #register_password:active, #register #register_name:hover, #register #register_name:active, #register #register_email:hover, #register #register_email:active, #register #register_btn:hover, #register #register_btn:active {
      border: 1px solid rgba(224, 67, 67, 0.94); }
  #login .holder, #register .holder {
    margin: 80px auto;
    padding: 30px 40px;
    -moz-box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    border: 1px solid #ABADB3; }
    #login .holder #login_btn, #login .holder #register_btn, #register .holder #login_btn, #register .holder #register_btn {
      color: rgba(0, 0, 0, 0.87);
      background-color: white; }
      #login .holder #login_btn:hover, #login .holder #register_btn:hover, #register .holder #login_btn:hover, #register .holder #register_btn:hover {
        cursor: pointer; }
  #login .inline, #register .inline {
    display: inline-block;
    width: 100%;
    margin: 5px 0;
    padding: 10px; }

.menubar {
  width: 100%;
  display: inline-flex; }
  .menubar #logout_btn {
    position: relative;
    z-index: 1;
    margin: 5px auto;
    font-size: 28px; }
    .menubar #logout_btn:hover {
      cursor: pointer; }

