@import "variables";

#login, #register {
    font-size: 16px;

    h1 {
        padding: 0 0 20px 0;
        color: rgba(0, 0, 0, 0.8);
    }

    span {
        font-family: Arial;
        font-size: 14px;
        cursor: pointer;
        text-decoration: underline;

        &#reg {
            color: $green;
        }

        &#log {
            color: $blue;
        }
    }


    #login_password, #login_name {
        border: 1px solid rgba($blue, $medium);

        &:hover, &:active {
            border: 1px solid rgba($blue, $medium * 1.8);
        }
    }

    #register_password, #register_name, #register_email, #register_password_repeat {
        border: 1px solid rgba($green, $medium);

        &:hover, &:active {
            border: 1px solid rgba($green, $medium * 1.8);
        }
    }

    .holder {
        margin: 80px auto;
        padding: 30px 40px;
        -moz-box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.2);
        max-width: 300px;
        border: 1px solid #ABADB3;


        #register_password.wrong, #register_password_repeat.wrong {
            border: 1px solid rgba(0, 0, 0, 0.50);
        }
    }

    .inline {
        display: inline-block;
        width: 100%;
        margin: 5px 0;
        padding: 10px;
    }
}

.menubar {
    width: 100%;
    display: inline-flex;

    #logout_btn {
        position: relative;
        z-index: 1;
        margin: 5px auto;
        font-size: 28px;

        &:hover {
            cursor: pointer;
        }
    }
}
