
#login, #register {
    font-size: 16px;

    h1 {
        padding: 0 0 20px 0;
        color: rgba(0, 0, 0, 0.8);
    }

    span {
        font-family: Arial;
        font-size: 14px;
        cursor: pointer;
        text-decoration: underline;

        &#reg {
            color: rgba(186, 10, 10, 0.85);
        }

        &#log {
            color: rgb(52, 146, 239);
        }
    }


    #login_password, #login_name, #login_btn {
        border: 1px solid rgba(141, 196, 250, 0.65);

        &:hover, &:active {
            border: 1px solid rgba(102, 179, 255, 1);
        }
    }

    #register_password, #register_name, #register_email, #register_btn, #register_password_repeat {
        border: 1px solid rgba(224, 114, 114, 0.50);

        &:hover, &:active {
            border: 1px solid rgba(224, 67, 67, 0.94);
        }
    }

    .holder {
        margin: 80px auto;
        padding: 30px 40px;
        -moz-box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.2);
        max-width: 300px;
        border: 1px solid #ABADB3;

        #login_btn, #register_btn {
            color: rgba(0, 0, 0, 0.87);
            background-color: white;

            &:hover {
                cursor: pointer;
            }
        }
        #register_password.wrong, #register_password_repeat.wrong {
        border: 1px solid rgb(52, 146, 239);
            
}

    }

    .inline {
        display: inline-block;
        width: 100%;
        margin: 5px 0;
        padding: 10px;
    }
}

.menubar {
    width: 100%;
    display: inline-flex;

    #logout_btn {
        position: relative;
        z-index: 1;
        margin: 5px auto;
        font-size: 28px;

        &:hover {
            cursor: pointer;
        }
    }
}

