* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

canvas {
  margin: 100px auto;
  display: block; }

.content {
  visibility: hidden;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.content.active {
  visibility: visible; }

