body, html {
    margin: 0;
    padding: 0;
}

canvas {
    margin: 100px auto;
    display: block;
}
#contentHolder {
    margin: 100px auto;
    display: block;
    max-width: 1050px;
}
#characterHolder {
    height: 150px;
    width: 100%;
    border: 1px #e4e4e4 solid;
    overflow: hidden;
    display:table;
    border-right: none;
}
.content {
    display: table-cell;
    height: 150px;
    white-space: normal;
    background-repeat: no-repeat;

    border: 1px #e4e4e4 solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
}
/*.lastcontent {
    display: table-cell;
    border: none;
}*/
