* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif, Arial;
}

canvas {
    margin: 0 auto;
    display: block;

    &#battle_animation {
        background: rgba(0, 0, 0, 0.02);
    }
}

.content {
    visibility: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content.active {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.one-third {
    width: 33.33%; /* as @passatgt mentioned in the comment, for the older browsers fallback */
    width: calc(100% / 3);
    display: inline-block;
    font-size: initial;
}

.one-half {
    width: 50%; /* as @passatgt mentioned in the comment, for the older browsers fallback */
    display: inline-block;
    font-size: initial;
}
