
#overview {

    & .holder {
        margin: 100px auto;
        display: block;
        max-width: 1050px;

        & #characters {
            height: 150px;
            width: 100%;
            border: 1px #e4e4e4 solid;
            overflow: hidden;
            display: table;
            border-right: none;

            & .char {
                display: table-cell;
                height: 150px;
                white-space: normal;
                background-repeat: no-repeat;
                border: 1px #e4e4e4 solid;
                border-left: none;
                border-top: none;
                border-bottom: none;

                & .hat {
                    position: absolute;
                }
            }
        }

        & .info {
            margin: 20px;
            background-color: rgba(0, 0, 0, 0.03);
            padding: 20px;
            overflow: auto;

            & .statholder {
                float: right;
            }

            & span {
                display: block;
            }

            & canvas {
                margin: 0;
                float: left;
            }
        }
    }
}
