#overview .holder {
  margin: 100px auto;
  display: block;
  max-width: 1050px; }
  #overview .holder #characters {
    height: 150px;
    width: 100%;
    border: 1px #e4e4e4 solid;
    overflow: hidden;
    display: table;
    border-right: none; }
    #overview .holder #characters .char {
      display: table-cell;
      height: 150px;
      white-space: normal;
      background-repeat: no-repeat;
      border: 1px #e4e4e4 solid;
      border-left: none;
      border-top: none;
      border-bottom: none; }
      #overview .holder #characters .char .char_name {
        display: block;
        text-align: center;
        position: relative;
        top: -13px;
        line-height: 0; }
      #overview .holder #characters .char .hat {
        position: absolute;
        margin-left: 1px; }
  #overview .holder .info {
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 20px;
    overflow: auto; }
    #overview .holder .info .statholder {
      float: right; }
    #overview .holder .info span {
      display: inline-block; }
    #overview .holder .info canvas {
      margin: 0;
      float: left; }

