
#overview, #attack {

    .holder {
        margin: 50px auto;
        display: block;
        max-width: 1050px;

        .menu {
            width: 100%;
            text-align: center;
            margin-bottom: 35px;

            button {
                padding: 4px;
            }
        }

        .info {
            margin: 20px;
            background-color: rgba(0, 0, 0, 0.02);
            padding: 20px;
            overflow: auto;
            font-size: 0;
            align-items: center;
            display: flex;

            .one-third, .one-half {
                table, canvas {
                    margin: 0 auto;
                }
            }

            .hats {
                .hat {
                    display: inline-block;

                    &.active img {
                        background-color: rgba(0, 0, 0, 0.2);
                    }

                    span {
                        text-align: center;
                        display: block;
                        font-size: 12px;
                        position: relative;
                        top: -15px;
                        margin: -20px;
                    }
                }

                img {
                    width: 100px;
                }
            }
        }
    }
}
