
#overview, #attack, #league, #battle, #leaguetoplist {

    .holder {
        margin: 50px auto;
        display: block;
        max-width: 1050px;
        padding: 0 10px;

        .menu {
            width: 100%;
            text-align: center;
            margin-bottom: 35px;

            button {
                padding: 4px;

                &.material-btn {
                    padding: 10px 20px;
                }
            }
        }

        .info {
            margin: 20px;
            background-color: rgba(0, 0, 0, 0.02);
            padding: 20px;
            overflow: auto;
            font-size: 0;
            align-items: center;
            display: flex;

            &.topleague_player {
                font-size: 12px;
                display: initial;
            }

            .one-third, .one-half {
                table, canvas {
                    margin: 0 auto;
                }
            }

            .hats {
                .hat {
                    display: inline-block;

                    &.active img {
                        background-color: rgba(0, 0, 0, 0.2);
                    }

                    span {
                        text-align: center;
                        display: block;
                        font-size: 12px;
                        position: relative;
                        top: -15px;
                        margin: -20px;
                    }
                }

                img {
                    width: 100px;
                }
            }
        }
    }
}


@media (max-device-width: 580px) {
    .holder .info {
        flex-direction: column;

        .one-half {
            width: initial;
            margin-bottom: 20px;
        }
    }
}

@media (max-device-width: 670px) {
    #overview .holder .info {
        flex-direction: column;

        .one-third {
            width: initial;
            margin-bottom: 20px;
        }
    }
}

#exp {
    width: 100%;
    height: 10px;
    display: inline-block;
    position: absolute;

    #current_exp {
        transition: width .5s ease;
        float: left;
        background-color: #efd14e;
        height: 100%;
        width: 0;
        border-bottom: 4px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
    }

    #gained_exp {
        transition: width .5s ease;
        float: left;
        background-color: #f89393;
        width: 0;
        height: 100%;
        border-bottom: 4px solid rgba(0, 0, 0, 0.13);
        box-sizing: border-box;
    }
}
