.stats-table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 600px;

    &#player_dataStats, &#player_skill_points {
        display: inline-block;
        vertical-align: middle;
    }

    &#player_skill_points {
        font-weight: 800;
        color: red;
        min-width: 12px;
    }

    th {
        text-align: left;
    }

    i {
        padding-left: 10px;
        display: none;
    }

    .char_sp_up {
        cursor: pointer;
        transition: background-color .5s ease-in-out;

        &:hover {
            background-color: rgba(81, 231, 115, 0.26);
        }

        i {
            display: initial;
        }
    }

    tr {
        border-bottom: 1px solid #ddd;

        &:last-child {
            border-bottom: none;
        }

        &:first-child { /*Overrides :last-child*/
            border-bottom: 1px solid #ddd;
        }
    }

    th, td {
        padding: 4px;
        border-right: 1px solid #ddd;
        min-width: 40px;

        &.red {
            color: #FC1E1E;
        }

        &.blue {
            color: #087BEE;
        }

        &.green {
            color: #51E773;
        }

        &:last-child {
            border-right: none;
        }
    }
}
