.stats-table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 600px;

    th {
        text-align: left;
    }

    tr {
        border-bottom: 1px solid #ddd;

        &:last-child {
            border-bottom: none;
        }

        &:first-child { /*Overrides :last-child*/
            border-bottom: 1px solid #ddd;
        }
    }

    th, td {
        padding: 4px;
        border-right: 1px solid #ddd;
        min-width: 40px;

        &.red {
            color: #FC1E1E;
        }

        &.blue {
            color: #087BEE;
        }

        &.green {
            color: #51E773;
        }

        &:last-child {
            border-right: none;
        }
    }
}
