.stats-table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 600px; }
  .stats-table.top10 {
    width: 100%;
    max-width: initial; }
  .stats-table#player_dataStats, .stats-table#player_skill_points {
    vertical-align: middle; }
  .stats-table#player_skill_points {
    font-weight: 800;
    color: red;
    min-width: 12px; }
  .stats-table th {
    text-align: left; }
  .stats-table i {
    padding-left: 10px;
    display: none; }
  .stats-table .char_sp_up {
    cursor: pointer;
    transition: background-color .2s ease-in-out; }
    .stats-table .char_sp_up:hover {
      background-color: rgba(18, 221, 64, 0.43); }
    .stats-table .char_sp_up i {
      display: initial; }
  .stats-table tbody tr:last-child, .stats-table tbody tr.last {
    border-bottom: none; }
  .stats-table tr {
    border-bottom: 1px solid #ddd; }
    .stats-table tr:first-child {
      /*Overrides :last-child*/
      border-bottom: 1px solid #ddd; }
  .stats-table th, .stats-table td {
    padding: 4px;
    border-right: 1px solid #ddd;
    min-width: 40px; }
    .stats-table th.red, .stats-table td.red {
      color: #FC1E1E; }
    .stats-table th.blue, .stats-table td.blue {
      color: #087BEE; }
    .stats-table th.green, .stats-table td.green {
      color: #51E773; }
    .stats-table th:last-child, .stats-table td:last-child {
      border-right: none; }

