[Unit]
Description=Minimized server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/mono /home/pi/min2/Server.exe
WorkingDirectory=/home/pi/min2
StandardOutput=syslog
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target